<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<dom-module id="sigespai-ficha-investigador-datos">
    <template>
        <style>
            :host {
                display: block;
            }

            .grid {
                display: grid;
                padding: 3rem;
                grid-gap: 2rem;
                grid-template-columns: 1fr 3fr;
            }

            .grid-indicadores {
                display: grid;
                grid-template-columns: 1fr;
                align-items: center;
            }

            .grid-data {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: minmax(18rem, 1fr) 2rem 4fr;
                font-size: 1.7rem;
            }

            .grid-data>div {
                padding: 1rem 0.5rem;
            }

            .nombre {
                padding: 1.5rem 1rem 0rem 1rem;
                font-weight: bold;
                font-size: 2rem;
                color: #555;
            }

            .negritas {
                font-weight: bold;
            }

            .subgrid {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: 4fr 1fr;
            }

            .foto {
                border-radius: 100%;
                height: 195px;
                width: 210px;
                -webkit-box-shadow: 0px 10px 40px 0px rgba(1, 1, 1, 0.1);
                -moz-box-shadow: 0px 10px 40px 0px rgba(1, 1, 1, 0.1);
                box-shadow: 0px 10px 40px 0px rgba(1, 1, 1, 0.1);
            }

            .indicador {
                width: 16rem;
                height: 11rem;
                overflow: hidden;
                position: relative;
                margin-right: 30px;
                margin-bottom: 30px;
                background-color: #ffffff;
                box-shadow: 0px 10px 40px 0px rgba(1, 1, 1, 0.1);
            }

            .prodep {
                border-bottom: 2px solid #fbc02d;
            }

            .sni {
                border-bottom: 2px solid #2196f3;
            }

            h3 {
                padding-left: 3rem;
            }

            .indicador-valor {
                color: #afafaf;
                font-size: 54px;
                font-weight: 900;
                line-height: normal;
            }

            .indicador-nombre {
                padding: .3rem;
            }

            .indicador-fecha {
                font-size: 1.3rem;
                font-weight: bold;
            }

            @media screen and (max-width: 950px) {
                .grid {
                    grid-template-columns: 1fr;
                }
                .subgrid {
                    grid-template-columns: 1fr;
                }
                .grid-indicadores {
                    grid-template-columns: 1fr 1fr;
                }
            }
        </style>

        <iron-ajax auto url="{{url}}" handle-as="json" last-response="{{datosInvestigador}}"></iron-ajax>

        <iron-ajax auto url="{{urlInvestigacion}}" handle-as="json" last-response="{{nivelesInvestigacion}}"></iron-ajax>

        <iron-ajax auto url="{{urlCorreo}}" handle-as="json" last-response="{{correo}}"></iron-ajax>

        <iron-ajax auto url="{{urlLineasGeneracion}}" handle-as="json" last-response="{{lineasGeneracion}}"></iron-ajax>

        <h3>Datos del investigador</h3>
        <section class="grid">
            <div class="grid-item">
                <center>
                    <img class="foto" src="[[foto]]" />
                    <div class="nombre">[[datosInvestigador.nue]] - [[datosInvestigador.nombreCompleto]]</div>
                    <div class="negritas">[[correo.correo]]</div>
                </center>
            </div>
            <div class="grid-item subgrid">
                <div>
                    <div class="grid-data">
                        <div>Campus</div>
                        <div class="negritas">:</div>
                        <div>[[datosInvestigador.campus]]</div>
                    </div>
                    <div class="grid-data">
                        <div>División</div>
                        <div class="negritas">:</div>
                        <div>[[datosInvestigador.division]]</div>
                    </div>
                    <div class="grid-data">
                        <div>Departamento</div>
                        <div class="negritas">:</div>
                        <div>[[datosInvestigador.departamento]]</div>
                    </div>
                    <div class="grid-data">
                        <div>Grado de estudios</div>
                        <div class="negritas">:</div>
                        <div>[[datosInvestigador.grado]]</div>
                    </div>
                    <div class="grid-data">
                        <div>Líneas generación</div>
                        <div class="negritas">:</div>
                        <div>
                            <template is="dom-repeat" items="[[lineasGeneracion]]">
                                [[item.lineaGeneracion]] |
                            </template>
                        </div>
                    </div>
                    <div class="grid-data">
                        <div style="padding-top: 1.8rem;">Cuerpo Académico</div>
                        <div class="negritas" style="padding-top: 1.8rem;">:</div>
                        <div>
                            <div>[[nivelesInvestigacion.caClave]] - [[nivelesInvestigacion.caDescripcion]]</div>
                            <div style="font-size: 1.3rem;">
                                <i>[[nivelesInvestigacion.caGradoConsolidacion]]</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-indicadores">
                    <div>
                        <center>
                            <div class="indicador sni">
                                <div class="indicador-nombre">SNI</div>
                                <div class="indicador-valor">[[nivelesInvestigacion.sni]]</div>
                                <div class="indicador-fecha">[[vigenciaSNI]]</div>
                            </div>
                        </center>
                    </div>
                    <div>
                        <center>
                            <div class="indicador prodep">
                                <div class="indicador-nombre">PRODEP</div>
                                <div class="indicador-valor">[[nivelesInvestigacion.prodepGrado]]</div>
                                <div class="indicador-fecha">[[vigenciaPRODEP]]</div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </section>

    </template>

    <script>
        /**
         * `sigespai-ficha-investigador-datos`
         * Pinta los datos generales del investigador
         *
         */
        class SigespaiFichaInvestigadorDatos extends Polymer.Element {
            static get is() { return 'sigespai-ficha-investigador-datos'; }
            static get properties() {
                return {
                    nue: String,
                    correo: String,
                    datosInvestigador: Object,
                    lineasGeneracion: Array,
                    vigenciaSNI: String,
                    vigenciaPRODEP: String,
                    nivelesInvestigacion: {
                        type: Object,
                        observer: '_vigencias'
                    },
                    url: {
                        type: String,
                        computed: '_getURL(nue)'
                    },
                    urlCorreo: {
                        type: String,
                        computed: '_getUrlCorreo(nue)'
                    },
                    urlInvestigacion: {
                        type: String,
                        computed: '_getUrlInvestigacion(nue)'
                    },
                    urlLineasGeneracion: {
                        type: String,
                        computed: '_getUrlLineasGeneracion(nue)'
                    },
                    foto: {
                        type: String,
                        computed: '_getUrlFoto(nue)'
                    }
                };
            }
            _vigencias() {
                var date = new Date(this.nivelesInvestigacion.sniFechaInicio);
                var vigenciaTxt = date.toLocaleDateString() + ' - ';
                date = new Date(this.nivelesInvestigacion.sniFechaFin);
                vigenciaTxt += date.toLocaleDateString();
                this.vigenciaSNI = vigenciaTxt;
                date = new Date(this.nivelesInvestigacion.prodepFechaInicio);
                vigenciaTxt = date.toLocaleDateString() + ' - ';
                date = new Date(this.nivelesInvestigacion.prodepFechaFin);
                vigenciaTxt += date.toLocaleDateString();
                this.vigenciaPRODEP = vigenciaTxt;
            }
            _getURL(nue) {
                //return 'http://localhost:51291/Consultas/findDatosProfesorByNUE/' + nue;
                return 'https://intranet1.ugto.mx/Sigespai/Consultas/findDatosProfesorByNUE/' + nue;
            }
            _getUrlInvestigacion(nue) {
                //return 'http://localhost:51291/Consultas/findNivelesInvestigacionByNUE/' + nue;
                return 'https://intranet1.ugto.mx/Sigespai/Consultas/findNivelesInvestigacionByNUE/' + nue;
            }
            _getUrlFoto(nue) {
                return 'https://intranet3.ugto.mx/ViviendaSegura/Home/GetFotoAlumno_Empleado/000000?empleado=' + nue;
            }
            _getUrlCorreo(nue) {
                return 'https://intranet1.ugto.mx/Sigespai/GeneralData/findCorreoByNue/' + nue;
                //return 'http://localhost:51291/GeneralData/findCorreoByNue/' + nue;
            }
            _getUrlLineasGeneracion(nue) {
                return 'https://intranet1.ugto.mx/Sigespai/Consultas/findLineasGeneracionByNue/' + nue;
                //return 'http://localhost:51291/Consultas/findLineasGeneracionByNue/' + nue;
            }
        }
        window.customElements.define(SigespaiFichaInvestigadorDatos.is, SigespaiFichaInvestigadorDatos);
    </script>
</dom-module>